/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
scroll-padding-top: 2rem;
list-style: none;
text-decoration: none;
font-family: "Poppins", sans-serif;
}
:root {
--text-color: #333333;
--main-color: #ffa724;
}
.shop-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 1rem;
padding: 50px 5%;
}
.product-box {
width: 300px;
height: 400px;
position: relative;
box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
border-radius: 4px 4px 4px 4px;
overflow: hidden;
}
.product-box .product-img {
width: 100%;
height: 100%;
overflow: hidden;
border-radius: 4px 4px 0 0;
height: 320px;
}
.product-box .product-img img {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}
.product-box span {
font-size: 1.1rem;
font-weight: 500;
padding-left: 12px;
color: var(--text-color);
}
.product-box .bx-cart {
position: absolute;
bottom: 0;
right: 0;
padding: 7px;
font-size: 20px;
color: #fff;
border-radius: 4px 0 4px 0;
background: var(--main-color);
}
.title-price {
display: flex;
justify-content: space-between;
padding: 12px;
bottom: 0;
width: 100%; 
background-color: rgba(255, 255, 255, 0.8); 
box-sizing: border-box;
left: 0;
}
.title-price h3 {
font-size: 1rem;
font-weight: 600;
}
.product-stars .bx {
color: #ffd700;
}
.overlay {
display: none;
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.5);
z-index: 999;
}
.popup {
display: none; /* Hidden by default */
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 20px;
border: 1px solid black;
background-color: white;
box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
z-index: 1000;
width: 50%;
justify-content: center;
align-items: center;
}
.close-btn{
position: absolute;
top: 10px;
right: 15px;
font-size: 20px;
cursor: pointer;
width: 20px;
height: 20px;
}
.popupdisplay{
display: block; 
position: relative;
left: 25%;
padding: 20px;
justify-content: center;
align-items: center;
}